@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --padding-btn:0.8vh 2vh;
    --padding-xml:2vmax;
    --padding-min:4vmax;
    --padding-med:7vmax;
    --padding-max:10vmax;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: normal;
}

ul{
    list-style-type: none;
}
/* .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
} */
#main{
    width: 100%;
    height: 100vh;
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
}
.expense-tracker{
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}
.tracker-head{
    padding: var(--padding-xml);
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
}
.tracker-head h1{
    margin-bottom: 20px;
}
.tracker-head h3{
    margin-top: 10px;
}
.tracker-head .transactions{
    text-align: left;
    border-bottom: 1.5px solid #fff;
}

.tracker-body{
    padding: var(--padding-xml);
    width: 100%;
    height: 50vh;
    overflow: auto;
    /* border: 2px solid red; */
    padding-top: var(--padding-xml);
}

ul li{
    overflow-y: hidden;
    height: 50px;
    color:#000;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
    padding: var(--padding-btn); 
}
ul li.open{
    height: auto;
}
ul li span{
    font-weight: 700;
    color: #000;
}
ul li .content{
    display: flex;
    justify-content: space-between;
}
ul li .icon-container img{
    margin-right: 10px;
}

.tracker-calculator{
    height: calc(100vh - 70vh);
    width: 100%;
    background-color: #fff;
    padding: var(--padding-xml);
}
.tracker-calculator h3,form label{
    color: #000;
    font-weight: 700;
}
form{
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form div{
    display: flex;
    flex-direction: column;
}
input{
    color: #000;
    margin-bottom: 15px;
    margin-right: 10px;
    width: auto;
    padding: 1.3vh var(--padding-xml);
}
.button-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button-wrapper button{
    padding: var(--padding-btn);
}
.earnings{
    background-color: green;
    border: none;
}
.expenses{
    background-color: red;
    border: none;
}